# Python cache
__pycache__/
*.py[cod]
*.pyo

# VS Code config
.vscode/

# Audio and transcripts
*.wav
*.mp3
*.flac
*.txt
*.log

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/


# Virtual environment
.venv/
env/
venv/

# Google API credentials
credentials.json
token.json
